extends layout 
block content
  .row.banner
    .col-12
      h1 The Irish Library
        small &nbsp;Find places to work with wifi near you!
  .row
    .col-12.col-md-8

      .card
        .card-block
          h4
            a(href="/book") Harry Potter and The Deathly Hollows
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right Rate the Book
           p.author Author: J.K Rowling
          .genre
            span.badge.badge-warning Adventure
            span.badge.badge-warning Fantasy
            span.badge.badge-warning Mystery

      .card
        .card-block
          h4
            a(href="/book") Charlie and The Chocolate Factory
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            span.badge.badge-pill.badge-default.float-right Rate the Book
           p.author Author: Roald Dahl
          .genre
            span.badge.badge-warning Fantasy
            span.badge.badge-warning Fiction
            span.badge.badge-warning Children's Literature

      .card
        .card-block
          h4
            a(href="/book") THE BFG 
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right Rate the Book
		   p.author Author: Roald Dahl
          .genre
            span.badge.badge-warning Children's Literature
            span.badge.badge-warning Fantasy

    .col-12.col-md-4
      p.lead Looking for a good book? The Irish Library helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the right book for you.

